body {
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    max-width: 1000px;
    padding: 10px 15px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 8px 12px 24px rgb(0 0 0 / 0.2);
}

.header,
.main,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 35px;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}

.headerImg {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}

.main {
    grid-area: main;
    padding: 10px 15px;
}

body {
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    max-width: 1000px;
    padding: 10px 15px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 8px 12px 24px rgb(0 0 0 / 0.2);
}

.header,
.main,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 35px;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}

.headerImg {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}

.main {
    grid-area: main;
    padding: 10px 15px;
}

.todoList {    
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

.todoList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
}

.todoList li:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
}

.todoList .completed span {
    text-decoration: line-through;
    color: #999;
}

.todoList .listBtn {
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    margin: 3px;
    width: 80px;
}

.todoList .hideBtn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}


.todoList .visibleBtn {
    opacity: 1;
    visibility: visible;
    position: relative;
    border: none;
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background-color: #333;
    color: white;
    margin: 3px;
}

.todoList .confirmBtn {
    width: 150px;
}

.todoInputText {
    width: 150px;
    font-size: 18px;
    height: 20px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.todoAddBtn {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    font-size: 18px;
}

.todoAddBtn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
    background-color: #454444;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.footerImg {
    width: 50px;
    object-fit: cover;
    margin: 15px;
}

.todoInputText {
    width: 150px;
    font-size: 18px;
    height: 20px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.todoAddBtn {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    font-size: 18px;
}

.todoAddBtn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
    background-color: #454444;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.footerImg {
    width: 50px;
    object-fit: cover;
    margin: 15px;
}