body {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 26px;
}

.container {
    display: grid;
    margin: 5px auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    width: 100%;
    border-radius: 25px;
    background-color: #333;
}

.header,
.main,
.footer {
    background-color: white;
    margin: 15px;
    padding: 20px;
    color: black;
    border: 0.5px dashed black;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 0 10px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

.main {
    grid-area: main;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1fr;
    padding: 10px 20px;
    margin: 50 auto;
    object-fit: cover;  
    margin-bottom: 35px;
    border-bottom: 1px solid;
}

.hero-section p {
    font-size: 20px;
    color: black;
}

.heroLinksBtn {
    width: 150px;
    border-radius: 15px;
    background-color: #333;
    transition: all 0.3s ease;
    border: none;
    padding: 5px 15px;
    margin: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.heroLinksBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(0 0 0 /0.2);
}

.hero-img {
    width: 250px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 15px;
}

.project-section{
    padding: 20px;
}

.selection-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-cards {
    width: 375px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(0 0 0 /0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}

.project-img {
    width: 100%;
    object-fit: cover;
}

.project-name {
    font-size: 22px;
    margin: 20px;
}

.project-title{
    font-size: 16px;
    color: #333;
    padding: 0 20px;
    margin-bottom: 25px;
}

.projects-cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgb(0 0 0 /0.2);
}

.footer {
    display: flex;
    justify-content: space-around;
    grid-area: footer;
    text-align: center;
}

.footer-div {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.footer-div h3, p {
    margin: 0;
}

.footer-div p {
    font-size: 18px;
    color: black;
}

.footer-img {
    width: 40px;
    height: auto;
    margin: auto;
    object-fit: cover;
    padding: 5px 20px;
}


@media (max-width: 700px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        width: 100%;
        border-radius: 0;
    }

    .header, .main, .footer {
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }
}