body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    display: flex;
    justify-content: center;
}

.main-div {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
    width: 600px;
    margin: 25px auto;
}

.text-div {
    margin-bottom: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid;
}

.social-info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.link {
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    margin: 15px auto;
    border: none;
    border-radius: 15px;
    background-color: #333;    
}

.link a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}

.links button:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 /0.2);
    background-color: rgb(96, 95, 95);
    transform: translateY(-5px);
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 /0.2);
    transform: translateY(-2px);
    background-color: rgb(96, 95, 95);
}

body.dark-theme {
    background-color: #333;
    color: white;
}

.dark-theme .main-div {
    background-color: #444;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}

.dark-theme .link {
    background-color: #555;
}

.dark-theme .back {
    background-color: #555;
}

@media (max-width: 700px) {
    .main-div {
        width: 95%;
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}