:root {
    --container-color: rgb(255 255 255);
    --header-color: rgb(255 255 255);
    --header-bg-color: rgb(0 0 0);
    --main-color: rgb(255 255 255);
    --main-bg-color: rgb(0 0 0);
    --sidebar-color: rgb(255 255 255);
    --sidebar-bg-color: rgb(0 0 0);
    --footer-color: rgb(255 255 255);
    --footer-bg-color: rgb(0 0 0);
    --body-color: rgb(255 255 255);
    --body-bg-color: rgb(0 0 0);
    --btn-color: rgb(255 255 255);
    --btn-bg-color: rgb(0 0 0);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--body-bg-color);
}

.container {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    padding: 5px 15px;
    border-radius: 15px;
}

.header,
.main,
.sidebar,
.footer {
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid var(--container-color);
    box-shadow: 0 0 5px var(--container-color);
}

.header {
    grid-area: header;
    color: var(--header-color);
    align-items: center;
    justify-content: space-around;
}

.headerLogoInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerFilmInput {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#filmNameInput {
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: var(--header-color);
    background-color: var(--header-bg-color);
    border: 1px solid var(--header-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--header-color);
}

#headerProfileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: rgb(28, 28, 28);
    cursor: pointer;
}

.headerProfileBtnImg {
    object-fit: cover;
    width: 80%;
}

#headerProfileBtn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--header-color);
}

.headerFilmInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    grid-area: main;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filmCount {
    color: var(--main-color);
    font-size: 20px;
    margin: 10px;
    border-bottom: 1px dashed var(--main-color);
}

.filmCount.isClear {
    visibility: 0;
    opacity: 0;
}

.filmsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 15px;
    padding: 10px 15px;
}

.cardText {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.filmCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    margin: 10px;
    top: 0;
    box-shadow: 0 0 5px var(--main-color);
}

.filmCard:hover {
    transform: translateY(-1px);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--main-color);
}

.filmImg {
    max-width: 50%;
    min-height: 50%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.addToFavotireListBtn {
    position: absolute;
    font-size: 25px;
    color: var(--main-color);
    border: none;
    background-color: var(--main-bg-color);
    cursor: pointer;
    top: 5px;
    right: 5px;
}

.addToFavotireListBtn.isPress {
    color: red;
}

.sidebar {
    grid-area: sidebar;
    color: var(--sidebar-color);
    align-items: center;
    flex-direction: column; 
}

.filterList {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
}

.filterBtn {
    text-align: center;
    width: 200px;
    font-size: 22px;
    height: 30px;
    border: none;
    border-radius: 15px;
    border: 1px solid var(--sidebar-color);
    color: var(--sidebar-color);
    background-color: var(--sidebar-bg-color);
    margin: 10px;
}

.filterBtn:hover {
    transform: translateY(-1px);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--sidebar-color);
}

.footer {
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    color: var(--footer-color);
}

.footerAuthor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerAuthor h3{
    margin: 0;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding: 5px 10px;
}

.link {
    text-align: center;
    text-decoration: none;
    color: var(--btn-color);
    border: none;
    width: 125px;
    border-radius: 15px;
    background-color: var(--btn-bg-color);
    box-shadow: 0 0 5px var(--btn-color);
    cursor: pointer;
    margin: 5px;
}

.link:hover {
    transition: all 0.3s ease;
    transform: translateY(-1px);
    box-shadow: 0 0 10px var(--btn-color);
}