body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 750px;
    margin: 50px auto;
    padding: 10px 15px;
    border: 1px dashed black;
    border-radius: 15px;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.mainImg {
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px;
}

.LinkVkBtn, 
.LinkTgBtn,
.LinkWsBtn {
    margin: 5px;
    padding: 5px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
}

.LinkVkBtn:hover, 
.LinkTgBtn:hover,
.LinkWsBtn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
    background-color: rgb(86, 86, 86);
}

.backBtn {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 35px;
    padding: 5px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
}

@media (max-width: 550px) {

    .main {
        width: 75%;
    }
}