*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --container-color: rgb(145 0 255);
    --container-color-bg: rgb(0 0 0);

    --stats-area-color: rgb(100 255 0);
    --stats-area-color-bg: rgb(0 0 0);

    --main-arena-color: rgb(255 50 0);
    --main-arena-color-bg: rgb(0 0 0);

    --control-btns-color: rgb(255 0 125);
    --control-btns-color-bg: rgb(0 0 0);
}

body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas:
    "stats-area"
    "main-arena"
    "control-btns-area";
    margin: 50px auto;
    width: 850px;
    padding: 10px 15px;
    border: 1px solid var(--container-color);
    border-radius: 15px;
    color: var(--container-color);
}

.stats-area,
.main-arena,
.control-btns-area {
    display: flex;
    margin: 15px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 15px;
}

.stats-area {
    grid-area: stats-area;
    justify-content: space-around;
    color: var(--stats-area-color);
    border-color: var(--stats-area-color);
}

.main-arena {
    grid-area: main-arena;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-arena-color);
    border: var(--main-arena-color);
}

.monster-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#monster-img {
    width: 75%;
    max-width: 750px;
    max-height: 750px;
    object-fit: cover;
}

.control-btns-area {
    grid-area: control-btns-area;
    justify-content: center;
    align-items: center;
    color: var(--control-btns-color);
    border: var(--control-btns-color);
}

.control-btn {
    width: 200px;
    font-size: 22px;
    height: 30px;
    color: var(--control-btns-color);
    border: none;
    border-radius: 15px;
    background-color: var(--control-btns-color-bg);
    box-shadow: 0 0 5px var(--control-btns-color);
    margin: 10px;
}

.control-btn:hover {
    box-shadow: 0 0 10px var(--control-btns-color);
}

.info-area {
    visibility: 1;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-arena-color);
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 5px 10px;
}

.market {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 1);

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    border: 1px solid var(--container-color);
    border-radius: 15px;
}

.market.isOpen {
    visibility: visible;
    opacity: 1;
}

.market-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 15px;
    padding: 5px 10px;
    color: var(--container-color);
    border: 1px dashed var(--container-color);
    border-radius: 15px;
}

.market-item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.cardImg {
    object-fit: cover;
    width: 75%;
    margin: 10px;
}

#market-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 250px;
    height: 25px;
    bottom: 25px;
}

.controlBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}