#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Главная карточка */
.header {
  background-color: #222;
  border-radius: 15px;
  padding: 40px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border: 1px solid #333;
}

/* Желтый заголовок */
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ffc107;
  text-transform: capitalize;
}

h2 {
  font-size: 1.2em;
  color: #eee;
  margin-bottom: 30px;
}

/* Группа инпута и кнопки */
.input-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #444;
  background: #333;
  color: white;
  outline: none;
  flex: 1;
}

input:focus {
  border-color: #ffc107;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background: #00bfff; /* Ярко-голубой цвет кнопки */
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}