body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

.header, .main, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    margin: 50px auto;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 4px 8px 24px rgb(0 0 0 / 0.3);
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
}

.toDoList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
    margin: 15px auto;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 18px;
    padding: 10px;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
    transition: all 0.3s ease;
}

.todo-list li:hover {
    background-color: rgb(227, 224, 224);
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.3);
}

.todo-list .completed {
    text-decoration: line-through;
    color: #999;
}

.main-main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
    margin: 15px auto;
}

.mainPass {
    margin-bottom: 15px;
}

.loginInput, .passwordInput {
    border: 1px solid;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 20px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 0.2);
    transition: all 0.3s ease;
}

.loginInput:hover {
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.3);
}

.passwordInput:hover {
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.3);
}

.mainBtn {
    width: 150px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
    transition: all 0.3s ease;
    margin: 15px auto;
}

.mainBtn:hover {
    transform: translateY(-2px);
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.3);
}

.footer {
    grid-area: footer;
}

@media (max-width: 700px) {
    .container {
        width: 80%;
        margin: 15px auto;
    }

    .header, .main, .footer {
        width: 90%;
    }
}