body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;     
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.profile-image {
    width: 150px;
    height: 100%;
    object-fit: cover;
    margin: 30px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}

h2, h3 {
    color: black;
    font-size: 28px;
    margin: 15px;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 20px 0;
}

.stats-item {
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.stats-item h3 {
    font-size: 28px;
    margin-top: 5px;
}

.stats-item span {
    font-size: 16px;
    color: #555;    
}   

.profile-button {
    width: 165px;
    padding: 12px 0;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile-button:hover {
    background-color: rgb(47 45 45);
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

@media (max-width: 550px) {
    .profile{
        width: 80%;
        padding: 20px;
    }

    .profile-image{
        width: 80%;
        height: 100%;
    }

    h2, h3{
        font-size: 24px;
    }

    .profile-stats{
        padding: 15px 0;
    }

    .stats-item {
        font-size: 16px;
    }

    .profile-button {
        width: 80%;
        height: 100%;
    }

}