body {
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #333;

}

.container {
    display: grid;
    margin: 15px auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    width: 1200px;
    border-radius: 25px;
    background-color: #333;
}

.header,
.main,
.sidebar,
.footer {
    background-color: white;
    margin: 15px;
    padding: 20px;
    color: black;
    border-radius: 25px;
    border: 1px dashed black;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
    margin-bottom: 35px;
    text-align: center;
}

.logo-img {
    display: flex;
    height: auto;
    width: 125px;
    object-fit: cover;
}

.menu-img {
    width: 50px;
    object-fit: cover;
}

.main {
    grid-area: main;
}

.menu-container {
    position: relative;
}

.drop-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 24px rgb(0 0 0 / 0.2);
    list-style-type: none;
    padding: 10px 0;
    margin-top: 5px;
    min-width: 250px;
    z-index: 10;
}

.drop-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: all 0.3s ease;
    margin: 15px;
}

.drop-menu li a:hover {
    transform: translateY(-2px);
    background-color:rgb(92, 90, 90);
}

.menu-container:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.article-card {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid;
}
.article-card-img {
    width: 55%;
    height: auto;
    object-fit: cover;
}

.card-button {
    width: 175px;
    height: 35px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: rgb(109, 108, 108);
    transform: translateY(-2px);
}


.sidebar {
    grid-area: sidebar;
}

.sidebar-img {
    width: 100%;
    object-fit: cover;
    height: auto;   
    margin: auto;
}


.footer {
    display: flex;
    justify-content: space-around;
    grid-area: footer;
    text-align: left;
}

.footer-div {
    display: flex;
    flex-direction: row;    
    align-items: center;
    text-decoration: none;
}

.footer-div h3, .footer-div p {
    margin: 0;
}

.footer-div p {
    font-size: 16px;
    color: rgb(71, 70, 70);
}

.footer-img {
    width: 40px;
    object-fit: cover;
    height: auto;
    margin: auto;
    padding: 5px 20px;
    position: absolute top;
}

.footer-links li, a {
    background-color: #333;
    color: white;
    border-radius: 25px;
    border: none;
    margin: 10px auto;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-links li:hover {
    background-color: rgb(109, 108, 108);
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}


@media (max-width: 1200px) {

    .container{
        width: 95%;
        gap: 15px;
    }
}

@media (max-width: 700px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .header, .main, .sidebar, .footer {
        margin: 10px;
    }

    .header h1 {
        font-size: 18px;
    }

}