*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --container-color: rgb(255 125 125);
    --header-color: rgb(125 255 0);
    --main-color: rgb(125 125 255);
    --footer-color: rgb(50 255 125);
    --body-bg-color: rgb(0 0 0);
    --btn-bg-color: rgb(0 0 0);
    --input-text-color: rgb(255 255 125);
}

body {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--body-bg-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    width: 650px;
    margin: 50px auto;
    padding: 10px 15px;
    color: var(--container-color);
    border: 1px solid var(--container-color);
    border-radius: 15px;
    box-shadow: 0 0 5px var(--container-color);
}

.container:hover {
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--container-color);
}

.header,
.main,
.footer {
    display: flex;
    margin: 5px;
    padding: 5px 10px;
}

.header {
    grid-area: header;
    justify-content: center;
    align-items: center;
    color: var(--header-color);
    border-bottom: 1px dashed var(--header-color);
}

.main {
    grid-area: main;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color); 
}

.main-money-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    margin: 5px;
}

#main-text-input {
    width: 250px;
    height: 25px;
    font-size: 18px;
    background-color: black;
    color: var(--input-text-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 7px;
}

.main-btn {
    width: 150px;
    height: 25px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    color: var(--main-color);
    background-color: var(--btn-bg-color);
    margin-top: 5px;
    box-shadow: 0 0 5px var(--main-color);
    cursor: pointer;
}

.main-btn:hover {
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--main-color);
}

.money-count-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
}

.money-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
}

.money-list li {
    color: var(--main-color);
    list-style: none;
    padding: 0;
    margin: 5px;
    animation: fadeIn 0.5s ease;
}

.footer {
    grid-area: footer;
    justify-content: center;
    align-items: center;
    color: var(--footer-color);
}

