body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    max-width: 1200px;
    width: 90%;
    padding: 10px 15px;
    margin: 50px auto;
    border: 1px dashed black;
    border-radius: 15px;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.header,
.main,
.sidebar,
.footer {
    border: 1px dashed black;
    border-radius: 15px;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
    margin: 15px;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 15px;
}

.headerImg {
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}

.main {
    grid-area: main;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px 15px;
}

.getNewtext {
    width: 200px;
    height: 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
}

.getNewtext:hover {
    transform: translateY(-1px);
    transition: all 0.3s ease;
    background-color: #404040;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.checkList .test {
    background-color: black;
}

.checkList {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

.checkList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
}

.checkList li:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
}

.checkList .completed span {
    text-decoration: line-through;
    color: #999;
}

.checkList .listBtn {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    margin: 5px;
    margin-bottom: 10px;
}

.listBtn:hover {
    transition: all 0.3s ease;
    transform: translateY(-0.5px);
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
    background-color: #404040;
}

.checkList .hideBtn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.sidebarTextInput {
    width: 150px;
    font-size: 18px;
    height: 20px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 4px 8px 12px rgb(0 0 0 / 0.2);
}

.sidebarAddBtn {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    font-size: 18px;
}

.sidebarAddBtn:hover {
    transition: all 0.3s ease;
    transform: translateY(-0.5px);
    box-shadow: 4px 12px 24px rgb(0 0 0 / 0.2);
    background-color: #404040;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.footerImg {
    width: 50px;
    object-fit: cover;
    margin: 15px;
}



